*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
html, body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav1 {
  width: 100%;
  height: 70px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-right: 50px;
}
#nav11 {
  display: flex;
  flex-direction: row;
}
.circle {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.91);
  border-radius: 50%;
}

#nav12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#nav12 h4 {
  font-size: 1vw;
  font-weight: 580;
}
#nav12 i {
  display: none;
}
#nav12 h4 span {
  color: gray;
  margin-left: 15px;
}

#nav2 {
  width: 60%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  padding: 10px 25px;
}
#nav2 h4 {
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 500;
}

#content {
  width: 100%;
  height: calc(100% - 120px);
  /* background-color: rebeccapurple; */
}

#text-content {
  width: 100%;
  height: 35%;
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
#text-content::-webkit-scrollbar {
  height: 3px;
}
#text-content::-webkit-scrollbar-thumb {
  background-color: orangered;
}
.elements {
  width: 70%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.elements h1 {
  font-size: 10vw;
  font-weight: 600;
  text-transform: capitalize;
}

#image-content {
  width: 100%;
  height: 65%;
  background-color: rgb(226, 205, 255);
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

#image-content::-webkit-scrollbar {
  display: none;
}

#image-content img {
  width: 90%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

#image-content img:nth-child(2) {
  object-position: 0% 20%;
}

#image-content img:nth-child(5) {
  object-position: 50% 50%;
  object-fit: fill;
}

@media (max-width:500px) {
  #main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #nav1 {
    width: 100%;
    height: 50px;
    padding: 10px;
  }
  .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.928);
  }
  #nav12 {
    gap: 30px;
  }
  #nav12 h4 {
    display: none;
  }
  #nav12 h4:nth-child(1){
    font-size: 2.5vw;
    display: initial;
  }
  #nav12 i{
    display: initial;
    font-size: 3.5vw;
  }

  #nav2 {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
  }
  #nav2 h4 {
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 500;
  }

  #content {
    width: 100%;
    height: calc(100% - 100px);
    /* background-color: rebeccapurple; */
  }
  .elements h1 {
    font-size: 14vw;
    font-weight: 600;
    text-transform: capitalize;
  }
  #image-content img:nth-child(5) {
    object-fit: cover;
    object-position: center;
  }
  #image-content img:nth-child(2) {
    object-position: center;
  }
}